<p>Olá, <strong>{{ name }}</strong>!</p>

<p>Seu pedido de auxílio foi atendido, confira abaixo:</p>

<div style="
  padding: 0 10px;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #e57878;
  ">
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
</div>

<small>Respondido {{ answer_at }}. </small> <br />
