<strong>Olá, {{ name }}!</strong>
<p>Seu pedido de auxílio foi atendido, confira abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <small>Respondido {{ answer_at }} </small> <br />
</p>
